{% load static %}

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/panchaka.css' %}">
</head>
<body>
    <h1 id="start">పంచక రహీతం</h1>
    <form action="H">
        <button type="submit" id="home_btn">HOME</button>
    </form>
 <form action="panchaka" method="post">
        {% csrf_token %}
        <div  class="nakshatram" id="nakshatram">
            <label > ఈ రోజు నక్షత్రం నమోదు చేయండి
                <select name="nakshatram">
                    <option value="అశ్విని">అశ్విని</option>
                    <option value="భరణి">భరణి</option>
                    <option value="కృత్తిక">కృత్తిక</option>
                    <option value="రోహిణి">రోహిణి</option>
                    <option value="మృగశిర">మృగశిర</option>
                    <option value="ఆరుద్ర">ఆరుద్ర</option>
                    <option value="పునర్వసు">పునర్వసు</option>
                    <option value="పుష్యమి">పుష్యమి</option>
                    <option value="ఆశ్లేష">ఆశ్లేష</option>
                    <option value="మఖ">మఖ</option>
                    <option value="పుబ్బ">పుబ్బ</option>
                    <option value="ఉత్తర">ఉత్తర</option>
                    <option value="హస్త">హస్త</option>
                    <option value="చిత్త">చిత్త</option>
                    <option value="స్వాతి">స్వాతి</option>
                    <option value="విశాఖ">విశాఖ</option>
                    <option value="అనూరాధ">అనూరాధ</option>
                    <option value="జ్యేష్ట">జ్యేష్ట</option>
                    <option value="మూల">మూల</option>
                    <option value="పూర్వాషాఢ">పూర్వాషాఢ</option>
                    <option value="ఉత్తరాషాఢ">ఉత్తరాషాఢ</option>
                    <option value="శ్రవణ">శ్రవణ</option>
                    <option value="ధనిష్ఠ">ధనిష్ఠ</option>
                    <option value="శతభిష">శతభిష</option>
                    <option value="పూర్వాభాద్ర">పూర్వాభాద్ర</option>
                    <option value="ఉత్తరాభాద్ర">ఉత్తరాభాద్ర</option>
                    <option value="రేవతి">రేవతి</option>
                </select>
            </label><br>
        </div>
     <div  class="tidhi" id="tidhi">
         <label>ఈ రోజు తిధి నమోదు చేయండి
             <select name="tidhi">
                 <option value="పాడ్యమి">పాడ్యమి</option>
                 <option value="విదియ">విదియ</option>
                 <option value="తృతీయ">తృతీయ</option>
                 <option value="చతుర్థి">చతుర్థి</option>
                 <option value="పంచమి">పంచమి</option>
                 <option value="షష్ఠి">షష్ఠి</option>
                 <option value="సప్తమి">సప్తమి</option>
                 <option value="అష్టమి">అష్టమి</option>
                 <option value="నవమి">నవమి</option>
                 <option value="దశమి">దశమి</option>
                 <option value="ఏకాదశి">ఏకాదశి</option>
                 <option value="త్రయోదశి">త్రయోదశి</option>
                 <option value="చతుర్దశి">చతుర్దశి</option>
                 <option value="పౌర్ణమి">పౌర్ణమి</option>
                 <option value="అమావాస్య">అమావాస్య</option>
             </select>
         </label><br>
        </div>
     <div  class="lagnam" id="lagnam">
         <label>ఈ రోజు లగ్నము నమోదు చేయండి
             <select name="lagnam">
                 <option value="మేషం">మేషం</option>
                 <option value="వృషభం">వృషభం</option>
                 <option value="మిథునం">మిథునం</option>
                 <option value="కర్కాటకం">కర్కాటకం</option>
                 <option value="సింహం">సింహం</option>
                 <option value="కన్య">కన్య</option>
                 <option value="తుల">తుల</option>
                 <option value="వృశ్చికం">వృశ్చికం</option>
                 <option value="ధనసు">ధనసు</option>
                 <option value="మకరం">మకరం</option>
                 <option value="కుంభం">కుంభం</option>
                 <option value="మీనం">మీనం</option>
             </select>
         </label><br>
        </div>
     <div  class="varam" id="varam">
         <label>ఈ రోజు వారం నమోదు చేయండి
             <select name="varam">
                 <option value="ఆదివారం">ఆదివారం</option>
                 <option value="సోమవారం">సోమవారం</option>
                 <option value="మంగళవారం">మంగళవారం</option>
                 <option value="బుధవారం">బుధవారం</option>
                 <option value="గురువారం">గురువారం</option>
                 <option value="శుక్రవారం">శుక్రవారం</option>
                 <option value="శనివారం">శనివారం</option>
             </select>
         </label><br>
        </div>
     <button type="submit" id="submit">submit</button><br>
    </form>
<h3 id="result">{{ tidhi }} -{{ varam }} --{{ nakshatram }} --{{ lagnam }} --: {{ out }}</h3>
</body>
</html>